<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ws.myapplicationdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".stickylike.StickyLikeActivity" />
        <activity
            android:name=".eventstudy.ActivityForTouchEvent"
            android:launchMode="singleTask" />
        <activity android:name=".threadstudy.ThreadStudyDemo" />
        <activity android:name=".service.ServiceBindActivity" />
        <activity android:name=".lockstudy.LockStudyActivity" />

        <service android:name=".service.DemoService" />

        <activity android:name=".bitmap.BitMapActivity" />
        <activity android:name=".exception.ExceptionActivity" />
        <activity android:name=".delegate.TestProxyActivity" />
        <activity android:name=".listviewdemo.ListViewDemoActivity"></activity>
    </application>

</manifest>